<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8"UTF-8">
    <title>Python для всех</title>
</head>
<body bgcolor="0099FF" link="green" alink="red" vlink="black">
<h1>Вопрос 1 из 10</h1>
<h1>Язык программирования - это</h1>
<ol type = "1" start = "1">
<li><h2>специальный набор символов для компьютера.</h2>
<li><h2>это правила, по которым компьютер понимает и выполняет команды.</h2>
<li><h2>язык, на котором разговаривают программисты.</h2>
</ol>
<a href="{{ url_for('vprs2') }}">Следующий вопрос</a>
</body>
</html>