<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=Windows-1251"UTF-8">
    <title>Python для всех</title>
</head>
<body bgcolor="0099FF" link="green" alink="red" vlink="black">
<h1>Вопрос 3 из 10</h1>
<h1>PEP8 - это</h1>
<ol type = "1" start = "1">
<li><h2>документ, описывающий общепринятый стиль написания программ на языке Python</h2>
<li><h2>робот из 4-го эпизода "Звёздных войн"</h2>
<li><h2>ошибка</h2>
</ol>
<a href="{{ url_for('vprs4') }}">Следующий вопрос</a>
</body>
</html>