<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=Windows-1251"UTF-8">
    <title>Python для всех</title>
</head>
<body bgcolor="0099FF" link="green" alink="red" vlink="black">
<h1>Ответы</h1>

<h1>вопрос 1  ответ 2</h1>
<h1>вопрос 2  ответ 3</h1>
<h1>вопрос 3  ответ 1</h1>
<h1>вопрос 4  ответ 3</h1>
<h1>вопрос 5  ответ 1</h1>
<h1>вопрос 6  ответ 1</h1>
<h1>вопрос 7  ответ 3</h1>
<h1>вопрос 8  ответ 2</h1>
<h1>вопрос 9  ответ 2</h1>
<h1>вопрос 10 ответ 2</h1>

<h1>Благодарим вас за прохождение нашего теста</h1>
<a href="{{ url_for('index') }}">Пройти тест ещё раз</a>
</body>
</html>