<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8"UTF-8">
    <title>Python для всех</title>
</head>
<body bgcolor="0099FF" link="green" alink="red" vlink="black">
<h1>Ответы</h1>

<h1> Вопрос 1 - 2</h1>
<h1> Вопрос 2 - 3</h1>
<h1> Вопрос 3 - 1</h1>
<h1> Вопрос 4 - 3</h1>
<h1> Вопрос 5 - 1</h1>
<h1> Вопрос 6 - 1</h1>
<h1> Вопрос 7 - 3</h1>
<h1> Вопрос 8 - 2</h1>
<h1> Вопрос 9 - 2</h1>
<h1> Вопрос 10 - 2</h1>

<h1>Благодарим вас за прохождение нашего теста</h1>
<a href="{{ url_for('vprs0') }}">Пройти тест ещё раз</a>
</body>
</html>